.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.messages {
  top: 10%;
  left: 20%;
  position: absolute;
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 2px 10px 10px 10px;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 250px;
  width: fit-content;
}

.message.right {
  align-self: flex-end;
  border-radius: 10px 2px 10px 10px;
}

.message-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}


.color-switch-button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:#36454F;
  color: #ffffff;
  font-size: 16px;
  align-self: flex-end;
  cursor: pointer;
}

.color-switch-button:hover {
  background-color: #36445f;
}

.input-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.input-form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.input-form button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2ecc71;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.input-form button:hover {
  background-color: #27ae60;
}

 .profile-container {
  position: absolute;
  top: 0;
  left: 0;
}

.profile-info {
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profile-text {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.profile-text p {
  margin: 0;
}

.profile-text img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
  background-color: #fff;
}

.logout-icon {
  background-color: #fff;
  border-radius: 50%;
  display: inline;
  padding: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
